@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --margin: 96px;
  --gutter: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #232933;
  line-height: 1.5;
}
h1 {
  font-weight: 600;
  font-size: clamp(1.6rem, 4vw, 3.5rem);
  max-width: 100%;
  margin-bottom: clamp(8px, 2vw, 40px);
}

h2 {
  font-size: clamp(1.4rem, 3.2vw, 2.8rem);
  margin-bottom: clamp(8px, 1.8vw, 32px);
}

h3 {
  font-size: clamp(1.3rem, 2.6vw, 2.3rem);
  font-weight: 500;
  margin-bottom: clamp(7px, 1.6vw, 24px);
}

h4 {
  font-size: clamp(1.2rem, 2.2vw, 1.9rem);
  font-weight: 300;
  margin-bottom: clamp(6px, 1.4vw, 20px);
  color: #2a6ae7;
}

h5 {
  font-size: clamp(1.1rem, 1.9vw, 1.6rem);
  font-weight: 300;
  margin-bottom: clamp(5px, 1.2vw, 16px);
}

h6 {
  font-size: clamp(1rem, 1.7vw, 1.4rem);
  font-weight: 400;
  margin-bottom: clamp(4px, 1vw, 12px);
}

p {
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  max-width: 800px;
  line-height: 1.5;
}
img {
  max-width: 800px;
}
li {
  margin-bottom: 8px;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  font-weight: 400;
}
.secondary {
  color: #8b9099;
  font-weight: 300;
}
.text-center {
  text-align: center;
}
.primary {
  color: #2a6ae7;
}

.vspacer-8 {
  height: 8px;
  display: block;
  content: " ";
}
.vspacer-16 {
  height: 16px;
  display: block;
  content: " ";
}
.vspacer-24 {
  height: 24px;
  display: block;
  content: " ";
}
.vspacer-36 {
  height: 36px;
}
.vspacer-40 {
  height: 40px;
}
.vspacer-48 {
  height: 48px;
}
.vspacer-64 {
  height: 64px;
}
.vspacer-72 {
  height: 72px;
}
.vspacer-80 {
  height: 80px;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-8 {
  margin-top: 8px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px;
}
.top-nav {
  position: sticky;
  top: 0;
  height: 32px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 var(--margin);
  z-index: 1000;
}

.navigation-text a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.side-nav {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.main-content {
  margin: 48px var(--margin) 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gutter);
}

.left-column {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* This ensures content starts from the top */
  text-align: center; /* This centers any text content */
}

.right-column {
  grid-column: span 9;
  max-height: calc(100vh - 32px - 48px);
  overflow-y: auto;
}
.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  padding: 16px 8px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: var(--gutter);
  margin-bottom: 24px;
  /* border-radius: 8px; */
  transition: 0.3s;
  overflow: hidden; /* This ensures the content doesn't spill out of rounded corners */
}

.card-link:hover .card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  align-items: center;
  margin-bottom: 12px;
}

.card-header h3 {
  margin: 0;
}

.case-img {
  grid-column: span 5;
  display: flex;
  align-items: center;
}

.case-img img {
  width: 100%;
  /* max-width: 500px; */
  height: auto;
  object-fit: cover;
}
.card-body {
  margin-top: 16px;
}
.case-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 4;
}
.card-summary {
  font-size: 0.875rem;
  color: #232933;
  line-height: 1.5;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 1rem;
  background-color: #2a6ae7;
  color: #ffffff;
}

/* Remove the existing .btn styles if you had any */
#profilepic {
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover; /* This ensures the image covers the area without distortion */
  object-position: center; /* This centers the image within its container */
}
.case-content {
  text-align: center;
}

/* project detail */
.main {
  display: flex;
  flex: 1;
  position: sticky;
  top: 0;
  width: 100%;
}

.main .chapter {
  max-width: 70%;
}

.case {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.case-head {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 2rem 4vw;
  margin-bottom: 64px;
}

.case-title {
  display: grid;
  /* grid-template-columns: minmax(0, 1fr) minmax(0, 550px); */
  gap: 24px;
  padding: 0 28px;
  align-items: center;
}

.case-image {
  display: flex;
  justify-content: center;
  gap: clamp(8px, 2vw, 16px);
}
.case-image img {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: contain;
}

/* .summary {
  justify-self: start;
  width: 100%;
  padding: 0 28px;
} */

.summary-two {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  gap: 24px;
}
.summary-two strong {
  color: #2a6ae7;
  /* font-size: 0.875rem; */
}
.summary-col {
  width: 50%;
}
.information-col p {
  margin: 0;
}
.info-content {
  font-weight: 300;
  color: #232933;
}
/* .information-row {
  display: flex;
  margin-bottom: 8px;
  gap: 1rem;
}

.information-row p {
  margin: 0;
  min-height: 32px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  flex: 1;
}

.information-label {
  display: inline-block;
  width: 120px;
   min-width: 120px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #46484c;
  padding-top: 8px;
} */

.summary-content {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .summary-two {
    flex-direction: column;
    padding: 0 16px; /* Reduced padding for mobile */
    gap: 16px; /* Reduced gap for mobile */
  }

  .summary-col {
    width: 100%; /* Full width on mobile */
  }
  .case-title {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image";
  }

  .case-title h1 {
    grid-area: title;
  }

  .case-title img {
    grid-area: image;
    justify-self: center;
  }
  .information-row {
    flex-direction: column;
    gap: 0.5rem;
  }

  .information-label {
    width: 100%;
    padding-top: 0;
  }

  .information-row p {
    min-height: unset;
  }
}
.intro {
  padding: clamp(1.5rem, 5vw, 3rem) clamp(1rem, 10vw, 7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.intro h3 {
  font-weight: 300;
}
.case-body {
  /* flex-grow: 1; */
  width: 80%;
  max-width: 100%;
  overflow-y: auto;
  padding-left: clamp(1rem, 4vw, 4em);
  padding-right: clamp(1rem, 5vw, 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.chapter {
  margin-bottom: clamp(3rem, 10vh, 20vh);
  width: 100%;
}
.sidebar {
  width: 10%;
  height: 100vh;
  position: sticky;
  top: 0;
  padding-left: 2rem;
  padding-top: 2rem;
  /* Add other styles as needed */
}
.sidebar p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
}
.sidebar a {
  color: #232933;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.sidebar a:hover {
  background-color: #fff7cc;
  color: #000;
}
.sidebar a.active {
  background-color: #fff7cc;
  color: #000;
}
.right-col {
  width: 10%;
  height: 100vh;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 clamp(8px, 2vw, 24px); */
}
.content-section > * {
  width: 100%;
  max-width: 1000px;
}
.summary-content {
  width: 50%;
}
.graphics-grounding-types {
  display: flex;
  align-items: center;
  gap: clamp(16px, 4vw, 64px);
  margin-bottom: 64px;
  justify-content: space-between;
}
.graphics-grounding-types img {
  width: clamp(24px, 20vw, 640px);
  height: clamp(24px, 15vw, 640px);
  object-fit: contain;
}
/* #result {
  width: 70vw;
} */
/*  */
.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.carousel .screen-description {
  flex: 0 0 100%;
  width: 100%;
}

.carousel-container {
  overflow: hidden;
}

/* .screen-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
} */
.screen-description img {
  width: 90%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.screen-description video {
  width: 90%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
#shleter-img-video {
  display: flex;
}
#shleter-img-video img {
  width: 30%;
}
#shleter-img-video p {
  width: 50%;
}
.screen-label {
  width: 100%;
}
.interview-questions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.question-box {
  background-color: #eef3ff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  padding-top: 40px;
}

.question-title {
  padding: 5px 0px;
  border-radius: 20px;
  text-align: center;
  margin: -16px auto 10px;
  width: fit-content;
  color: #2a6ae7;
}

.question-box ul {
  margin: 0;
  padding-left: 20px;
}
.highlight-link {
  text-decoration: none;
  font-weight: bold;
  color: #2a6ae7;
  background-color: #fff7cc;
  padding: 2px 5px;
  border-radius: 3px;
}
#conference-img-text {
  display: flex;
  gap: 48px;
}
#conference-img-text img {
  min-width: 240px;
}
#conference-img-text p {
  margin-top: 0;
}
@media (max-width: 768px) {
  .interview-questions-container {
    grid-template-columns: 1fr;
  }

  .question-box {
    padding-top: 50px;
  }

  .question-title {
    width: 90%;
    white-space: normal;
  }
}
/* 
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/*  */
.content-section .description {
  color: #333;
  font-size: 0.75rem;
}
.pl-12 {
  padding-left: 12px;
}
.pr-12 {
  padding-right: 12px;
}
.pl-4 {
  padding-left: 4px;
}

@media (max-width: 768px) {
  :root {
    --margin: 24px;
  }

  .main-content {
    grid-template-columns: 1fr;
  }

  .left-column,
  .right-column {
    grid-column: span 12;
  }

  .right-column {
    max-height: none;
    overflow-y: visible;
  }

  #profilepic {
    max-width: 150px;
  }
}

@media (max-width: 768px) {
  .graphics-grounding-types {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .graphics-grounding-types img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Adjust this value as needed */
  }

  .graphics-grounding-types > div {
    width: 100%;
  }

  .graphics-grounding-types h4 {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-body {
    margin-top: 8px;
  }
  .badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.875rem;
    white-space: nowrap;
    border-radius: 1rem;
    background-color: #2a6ae7;
    color: #ffffff;
  }
  #case-tile-img2 {
    display: none;
  }
  .info-content {
    font-size: 0.875rem;
  }
  .content-section {
    padding: 0 16px;
  }
  .case-body {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sidebar {
    display: none;
  }
  .right-col {
    display: none;
  }

  .chapter {
    margin-bottom: 3rem;
  }
  .main .chapter {
    max-width: 100%;
  }
}
.title-section {
  width: 93%;
  /* height: 160px; */
  display: flex;
  align-items: end;
  /* justify-content: center; */
  /* padding-left: 2rem; */
  text-align: center;
  margin-bottom: 48px;
  background: linear-gradient(
    to top,
    #2a6ae7 0px,
    /* Start blue at the bottom */ #2a6ae7 8px,
    /* Keep blue up to 16px */ transparent 8px,
    /* Transition to transparent at 16px */ transparent 100%
      /* Keep transparent to the top */
  );
}
