body{
    background-color:#ffffff;
    text-align: center;
    @font-face {
        font-family: semteulche;
        src: url(semteulche-Light.otf);
    }
    @font-face {
        font-family: DungGeunMo;
        src: url(DungGeunMo.otf);
    }
}
h1,h2{
    font-family: DungGeunMo;
    color: #1F0E6A;
}

.contents{
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
    font-family: semteulche;
    
    background-color: #433b6c;
    
}

.contents > div{
    font-family: semteulche;
    font-size: 24px;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 50px;/* 20px; */
    
}

#projects {background-color:red;}
#games {background-color:green;}
#arts {background-color:blue;}
#about {background-color:orange;}

.tablink {
    font-family: DungGeunMo; 
    background-color: rgb(193, 193, 193);
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  .tablink:hover {
    background-color: #777;
    font-size: 24px;

  }
  /* Style the tab content */
.tabcontent{
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    height: 70vh;
  }

 